doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Miguel Vinan | Requerimientos Web
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="/assets/css/styles.css")
  body
    block content
    
    script(src="/assets/js/modernizr.custom.js")
    script(src="/assets/js/min/app.js")
    script(src="/assets/js/form.js")
