extends layout

block content
  div.container
    h4 Tu mensaje ha sido enviado satisfactoriamente.
    p Estudiaremos tus requerimientos y lo mas pronto posible sabras de nosotros.
    p Gracias por preferirnos!
    
  script(type='text/javascript').
    window.setTimeout(function(){
      window.location.href = "/";
    }, 3500);
